:root {
  --sectionAdressHeigh: 270px;
  --grey: #706b6b;
  --green: #480;
  --primary: #480;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/**************** Reusable *****************/
.myContainer {
  max-width: 1000px;
  margin: 0 auto;
}

a:hover,
a:focus {
  color: var(--white);
}

strong {
  font-weight: normal;
}

.noFocus {
  color: #000;
}

.justify {
  text-align: justify;
}

.bg-second {
  background-color: #43383836;
}

.bg-first {
  background-color: var(--green);
}

.btn-primary {
  color: var(--white);
  background-color: var(--green);
  border-color: var(--green);
  box-shadow: 0 0 10px 0.25rem transparent;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:checked,
.btn-primary:hover {
  box-shadow: 0 0 10px 0.25rem var(--green);
  transition: 0.5s;
  background-color: var(--green);
  border-color: var(--green);
}

.navbar-brand {
  position: relative;
  top: -15px;
}

@media only screen and (max-width: 500px) {
  .navbar-brand {
    top: 0;
  }
}

.textColorGreen {
  color: var(--green);
  text-decoration: none;
}

.textColorGreen:focus,
.textColorGreen:active,
.textColorGreen:checked,
.textColorGreen:hover {
  color: var(--green);
  text-decoration: underline;
}

.mt2 {
  margin-top: 20px;
}

@media only screen and (max-width: 500px) {
  .mt2 {
    margin-top: 20px;
  }
}

.mt-5 {
  margin-top: 125px !important;
}

@media only screen and (max-width: 991px) {
  .mt-5 {
    margin-top: 89px !important;
  }
}

h2::after {
  content: '';
  display: block;
  width: 150px;
  border-bottom: 3px solid var(--green);
  margin: 10px auto;
}

.hover {
  box-shadow: 0px 0px 32px 0px transparent;
}

.hover:hover {
  box-shadow: 0px 0px 32px 1px var(--grey);
  transition: 0.7s;
}

.underline-primary {
  text-decoration: underline;
  text-decoration-color: var(--green);
}

.underline-primary:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(68, 136, 0, .25);
}

.scroll-home {
  position: fixed;
  right: 34px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 100%;
  background-color: #706b6b4d;
  display: none;
}

@media only screen and (max-width: 1150px) {
  .scroll-home {
    right: 5px;
  }
}

@media only screen and (max-width: 991px) {
  .scroll-home {
    right: 34px;
  }
}

@media only screen and (max-width: 400px) {
  .scroll-home {
    right: 34px;
  }
}

@media only screen and (max-width: 340px) {
  .scroll-home {
    right: 34px;
  }
}

.scroll-home img {
  height: 80%;
}

@media only screen and (max-width: 991px) {
  .scroll-home img {
    height: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .scroll-home img {
    height: 80%;
  }
}

@media only screen and (max-width: 340px) {
  .scroll-home img {
    height: 80%;
  }
}

.scroll-home__is-active {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**************** Header *****************/

/* .navbar-brand {
  max-width: 250px;
} */

@media only screen and (max-width: 991px) {
  .navbar-brand {
    max-width: 250px;
  }
}

@media only screen and (max-width: 400px) {
  .navbar-brand {
    max-width: 200px;
  }
}

@media only screen and (max-width: 340px) {
  .navbar-brand {
    max-width: 160px;
  }
}

.nav-link {
  color: var(--white);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--white);
  text-decoration: underline;
  padding-bottom: 0;
}

.header {
  background-color: var(--green);
  height: 162px;
}

@media only screen and (max-width: 991px) {
  .header {
    height: 133px;
  }
}

@media only screen and (max-width: 400px) {
  .header {
    height: 120px;
  }
}

.item {
  color: var(--white);
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: 0.5s;
}

.item:hover,
.item:focus {
  border-bottom: 2px solid var(--white);
  color: var(--white);
}

.navbar {
  z-index: 1050;
  background-color: var(--green);
}

/**************** Contact *****************/
.main {
  margin-top: 20px;
  position: relative;
}

.main-background {
  position: absolute;
  right: 0;
  top: 92.5px;
  border-radius: 20px 0 0 20px;
  height: var(--sectionAdressHeigh);
  width: 57%;
  background-color: var(--grey);
}

@media only screen and (max-width: 1200px) {
  .main-background {
    height: calc(var(--sectionAdressHeigh) - 20px);
  }
}

@media only screen and (max-width: 991px) {
  .main-background {
    height: 210px;
    top: 124px;
    width: 70%;
  }
}

@media only screen and (max-width: 500px) {
  .main-background {
    margin-top: -32px;
    width: 75%;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  height: var(--sectionAdressHeigh);
}

@media only screen and (max-width: 1200px) {
  .contact {
    height: calc(var(--sectionAdressHeigh) - 20px);
  }
}

@media only screen and (max-width: 991px) {
  .contact {
    display: flex;
    flex-direction: column;
  }
}

.contact-left {
  width: 100%;
  background-color: var(--white);
  padding-bottom: 40px;
}

@media only screen and (max-width: 991px) {
  .contact-left {
    width: 100%;
    padding-bottom: 0;
    height: 80px;
  }
}

@media only screen and (max-width: 500px) {
  .contact-left {
    height: 80px;
  }
}

.contact-left__text {
  color: var(--grey);
  font-size: 35px;
}

@media only screen and (max-width: 991px) {
  .contact-left__text {
    font-size: 23px;
  }
}

@media only screen and (max-width: 500px) {
  .contact-left__text {
    font-size: 20px;
    height: 52px;
    display: block;
  }
}

.contact-right {
  height: var(--sectionAdressHeigh);
  margin-left: 40%;
  text-align: right;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media only screen and (max-width: 991px) {
  .contact-right {
    width: 80%;
    margin-left: 20%;
    height: 250px;
  }
}

@media only screen and (max-width: 500px) {
  .contact-right {
    width: 90%;
    margin-left: 10%;
  }
}

.contact-right__adress {
  text-decoration: none;
  color: var(--white);
  display: inline-block;
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 24px;
}

@media only screen and (max-width: 991px) {
  .contact-right__adress {
    margin-top: 90px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .contact-right__adress {
    margin-top: 53px;
  }
}

.contact-right__down {
  display: flex;
  flex-direction: column;
}

.contact-right__tel,
.contact-right__mail {
  text-decoration: none;
  color: var(--white);
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 1px;
}

.contact-right__tel:hover,
.contact-right__mail:hover {
  color: var(--green);
  font-weight: 600;
  transition: .5s;
}

@media only screen and (max-width: 1200px) {

  .contact-right__tel,
  .contact-right__mail {
    font-size: 40px;
    padding-bottom: 0px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 991px) {

  .contact-right__tel,
  .contact-right__mail {
    font-size: 25px;
    padding-bottom: 7.5px;
  }
}

/**************** Services *****************/

.card-body-hp {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .card-body a {
  color: #000;
  text-decoration: none;
}

.card-title {
  color: #000;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-color: #000;
  }
} */

/**************** US *****************/
.us {
  margin: 50px 0;
  background-color: #706b6b4d;
}

.mail {
  text-decoration: none;
  color: #000;

  &:focus {
    color: #000;
  }
}

.mail:hover {
  text-decoration: underline;
  color: #000;
}

.photos {
  margin-bottom: 50px;
}

@media only screen and (max-width: 610px) {
  .photos {
    margin-bottom: -10px;
  }
}

@media only screen and (max-width: 550px) {
  .photos {
    margin-bottom: -50px;
  }
}

@media only screen and (max-width: 450px) {
  .photos {
    margin-bottom: -100px;
  }
}

@media only screen and (max-width: 400px) {
  .photos {
    margin-bottom: -150px;
  }
}

@media only screen and (max-width: 350px) {
  .photos {
    margin-bottom: -170px;
  }
}

footer {
  background-color: #9d9393cc;
}

.table-opening {
  max-width: 600px;
  margin: auto;
}

.socials a {
  color: #000;
}

/**************** Pro pacienty *****************/
.card {
  border-radius: 0.85rem;
  height: 98%;
  overflow: hidden;
}

.card-body__list {
  list-style-type: none;
}

.card-body__item::before {
  content: "\2022";
  color: var(--primary);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.modal-dialog.modal-wide {
  max-width: 1000px;
}

.modal-content {
  padding: 10px 20px;
}