*
    margin: 0
    padding: 0
    box-sizing: border-box

/************ Reusable *************/
.container
    max-width: 1170px
    width: 96%
    margin: auto
    
/************ Header *************/
.header
    background-color: #480
    height: 200px
    &-block
        display: flex
        //flex-direction: row
        &__logo
            width: 50%
            & img
                width: 500px
        &__navbar
            & ul
                list-style: none
                display: flex
                flex-direction: row
                justify-content: space-evenly
            & li
                justify-content: space-around
                & a
                    text-decoration: none
                    color: #fff
                    font-size: 24px
        &__right
            width: 50%    
            display: flex
            flex-direction: column
        &__icons
           display: flex
           justify-content: flex-end
            & ul
                display: flex
                flex-direction: row
                & li
                    list-style: none
                    & a
                        font-size: 0px
                        width: 20px
                        & img
                            width: 35px 