@import "variables"

$sectionAdressHeigh: 450px
$grey: #706b6b
$green: #480
$primary: #480
$white: #fff
    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: Arial, Helvetica, sans-serif

/**************** Reusable *****************/
.myContainer
    max-width: 1000px
    margin: 0 auto
a
    &:hover, &:focus
        color: $white
.noFocus
    color: #000!important
.justify
    text-align: justify!important
.bg-second
    background-color: #43383836
.textColorGreen
    color: $green
.mt2
    @media only screen and(max-width: 500px)
        margin-top: 20px
h2
    &::after
        content: ''
        display: block
        width: 150px
        border-bottom: 3px solid $green
        margin: 10px auto
    
/**************** Header *****************/

.navbar-brand
    @media only screen and(max-width: 991px)
        max-width: 250px
    @media only screen and(max-width: 400px)
        max-width: 200px
    @media only screen and(max-width: 340px)
        max-width: 160px

.nav-link
    color: $white
    &:hover, &:focus
        color: $white
        text-decoration: underline
        padding-bottom: 0

.header
    background-color: #480
    height: 162px
    @media only screen and(max-width: 991px)
        height: 133px
    @media only screen and(max-width: 400px)
        height: 120px
    &-nav
        

        flex-direction: row
        justify-content: flex-end  
        list-style-type: none
        padding-top: 10px
        &__item
            color: $white
            text-decoration: none
            margin-left: 15px
            &:hover, &:focus
                border-bottom: 2px solid $white
                color: $white
    
>>>>>>> 4f370f0421831451c4746d55f23633c1a7371a8f
    
/**************** adress *****************/
.main
    margin-top: 50px
    position: relative
    &-background
        position: absolute
        right: 0
        height: $sectionAdressHeigh
        width: 50%
        background-color: $grey
        @media only screen and(max-width: 1200px)
            height: $sectionAdressHeigh - 100px
        @media only screen and(max-width: 991px)
            height: 250px
            margin-top: 82px
        @media only screen and(max-width: 500px)
            margin-top: 70px
        
   
.adress
    height: $sectionAdressHeigh
    @media only screen and(max-width: 1200px)
        height: $sectionAdressHeigh - 100px
    @media only screen and(max-width: 991px)
        display: flex
        flex-direction: column
    &-left
        width: 40%
        background-color: $white
        padding-bottom: 40px
        @media only screen and(max-width: 991px)
            width: 100%
        
        &__text
            color: $grey
            font-size: 35px
            @media only screen and(max-width: 991px)
                font-size: 28px
            @media only screen and(max-width: 500px)
                font-size: 20px
                
        
    &-right
        
        width: 60%
        text-align: right
        display: flex
        justify-content: space-between
        flex-direction: column
        background-color: $grey
        border-radius: 10px
        @media only screen and(max-width: 991px)
            width: 80%
            margin-left: 20%
            height: 250px
        @media only screen and(max-width: 500px)
            width: 90%
            margin-left: 10%
            
        &__adress
            text-decoration: none
            color: $white
            display: inline-block
            margin-top: 20px
            font-size: 20px
            @media only screen and(max-width: 991px)
                margin-top: 0
                margin-bottom: 20px
                
            
        &__down
           display: flex
           flex-direction: column 
        &__tel, &__mail
            text-decoration: none
            color: $white
            font-weight: 600
            font-size: 50px
            padding-bottom: 20px
            letter-spacing: 1px
            @media only screen and(max-width: 1200px)
                font-size: 40px
                padding-bottom: 10px
                font-weight: 500
            @media only screen and(max-width: 991px)
                font-size: 30px
                padding-bottom: 0
        
/**************** offer *****************/
.offer
    background: linear-gradient(rgba(255,255,255,.2),rgba(255,255,255,.7)), url(../images/cekarna.png) 
    background-image: url(../images/cekarna.png)
    margin: 50px 0
    height: 500px
    &-block
        
        &__title

        &__text
            list-style-type: none
            color: $grey
            & p 
                font-size: 23px
                padding-top: 25px


.us
    margin: 50px 0
    background-color: #706b6b4d
.mail
    text-decoration: none
    color: #000
    &:hover
        text-decoration: underline
        color: #000
.photos
    margin-bottom: 50px
    @media only screen and(max-width: 610px)
        margin-bottom: -10px
    @media only screen and(max-width: 550px)
        margin-bottom: -50px
    @media only screen and(max-width: 450px)
        margin-bottom: -100px
    @media only screen and(max-width: 400px)
        margin-bottom: -150px
    @media only screen and(max-width: 350px)
        margin-bottom: -170px
footer
    background-color: #9d9393cc

.table-opening
    max-width: 600px
    margin: auto
    // table-layout: fixed
.socials a
    color: #000