@import "variables"

$primary: #480
    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: Arial, Helvetica, sans-serif

/**************** Reusable *****************/
.cont
    max-width: 1170px
    width: 96%
    margin: 0 auto
.emptySpace
    height: 50px
a:hover
    color: #fff
    
/**************** Header *****************/

.navbar-brand
    @media only screen and(max-width: 780px)
        max-width: 250px
    @media only screen and(max-width: 400px)
        max-width: 200px
    @media only screen and(max-width: 340px)
        max-width: 160px
.nav-link
    color: #fff
    &:hover, &:focus
        color: #fff
        border-bottom: 3px solid #fff
        padding-bottom: 0


.header
    background-color: #480
    height: 160px
    @media only screen and(max-width: 780px)
        height: 133px
    @media only screen and(max-width: 400px)
        height: 120px
    &-nav
        display: flex
        flex-direction: row
        justify-content: flex-end  
        list-style-type: none
        padding-top: 10px
        &__item
            color: #fff
            text-decoration: none
            margin-left: 15px
            &:hover, &:focus
                border-bottom: 2px solid #fff
                color: #fff
    &-block
        display: flex
        //flex-direction: row
       
        &__image
            width: 50%
        &__right
            width: 50%
            display: flex
            flex-direction: column
        &__icons  
            display: flex
            flex-direction: row
            justify-content: flex-end    
        
            
        
        &__img
            width: 40px
        
        &__navbar
            position: sticky
            top: 10px
        &__nul
            list-style: none
            display: flex
            flex-direction: row
            justify-content: space-evenly
            align-items: center   
            height: 155px
            
            
       
            
            
            & a
                text-decoration: none
                color: #fff
                font-size: 20px
                text-shadow: 1px 1px $grey
                &:hover
                    border-bottom: 2px solid #fff

    
/**************** adress *****************/
.main
    height: $sectionAdressHeigh
    background: url('../images/main-bcg2.jpg')
    // background-position: 130% 0%
    
   
.adress
    position: relative
    height: $sectionAdressHeigh
    display: flex
    

    &-left
        height: $sectionAdressHeigh
        width: 40%
        background-color: #fff
        &__text
            color: $grey
            font-size: 30px
        
    &-right
        height: $sectionAdressHeigh
        width: 60%
        text-align: right
        display: flex
        justify-content: space-between
        flex-direction: column
        background-color: $grey
        border-radius: 10px
        &__adress
            text-decoration: none
            color: #fff
            display: inline-block
            margin-top: 20px
            font-size: 20px
            
        &__down
           display: flex
           flex-direction: column 
        &__tel 
            text-decoration: none
            color: #fff
            font-weight: 600
            font-size: 50px
            padding-bottom: 20px
            letter-spacing: 1px
            
        
/**************** offer *****************/
.offer
    background: linear-gradient(rgba(255,255,255,.2),rgba(255,255,255,.7)), url(../images/cekarna.png) no-repeat
    margin: 50px 0
    height: 500px     
    &-block
        margin-left: 58%
        &__title

        &__text
            list-style-type: none
            color: $grey
            & p 
                font-size: 23px
                padding-top: 25px


.us
    margin: 50px 0   
    &-block
        display: flex
        justify-content: space-evenly
        &__terap
            width: 227px
            border: 2px solid $grey
            object-fit: cover
            overflow: hidden
            & h3
                text-align: center
                padding: 10px
        &__img
            height: 300px
            
