* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/**************** Reusable *****************/
.myContainer {
  max-width: 1000px;
  margin: 0 auto;
}

a:hover, a:focus {
  color: #fff;
}

strong {
  font-weight: normal;
}

.noFocus {
  color: #000;
}

.justify {
  text-align: justify;
}

.bg-second {
  background-color: #43383836;
}

.bg-first {
  background-color: #480;
}

.btn-primary {
  color: #fff;
  background-color: #480;
  border-color: #480;
  -webkit-box-shadow: 0 0 10px 0.25rem transparent;
          box-shadow: 0 0 10px 0.25rem transparent;
}

.btn-primary:focus, .btn-primary:active, .btn-primary:checked, .btn-primary:hover {
  -webkit-box-shadow: 0 0 10px 0.25rem #480;
          box-shadow: 0 0 10px 0.25rem #480;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #480;
  border-color: #480;
}

.textColorGreen {
  color: #480;
  text-decoration: none;
}

.textColorGreen:focus, .textColorGreen:active, .textColorGreen:checked, .textColorGreen:hover {
  color: #480;
  text-decoration: underline;
}

@media only screen and (max-width: 500px) {
  .mt2 {
    margin-top: 20px;
  }
}

h2::after {
  content: '';
  display: block;
  width: 150px;
  border-bottom: 3px solid #480;
  margin: 10px auto;
}

.hover {
  -webkit-box-shadow: 0px 0px 32px 0px transparent;
          box-shadow: 0px 0px 32px 0px transparent;
}

.hover:hover {
  -webkit-box-shadow: 0px 0px 32px 11px #480;
          box-shadow: 0px 0px 32px 11px #480;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

/**************** Header *****************/
@media only screen and (max-width: 991px) {
  .navbar-brand {
    max-width: 250px;
  }
}

@media only screen and (max-width: 400px) {
  .navbar-brand {
    max-width: 200px;
  }
}

@media only screen and (max-width: 340px) {
  .navbar-brand {
    max-width: 160px;
  }
}

.nav-link {
  color: #fff;
}

.nav-link:hover, .nav-link:focus {
  color: #fff;
  text-decoration: underline;
  padding-bottom: 0;
}

.header {
  background-color: #480;
  height: 162px;
}

@media only screen and (max-width: 991px) {
  .header {
    height: 133px;
  }
}

@media only screen and (max-width: 400px) {
  .header {
    height: 120px;
  }
}

.item {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.item:hover, .item:focus {
  border-bottom: 2px solid #fff;
  color: #fff;
}

.navbar {
  z-index: 1100;
  background-color: #480;
}

/**************** Contact *****************/
.main {
  margin-top: 50px;
  position: relative;
}

.main-background {
  position: absolute;
  right: 0;
  height: 350px;
  width: 50%;
  background-color: #706b6b;
}

@media only screen and (max-width: 1200px) {
  .main-background {
    height: 250px;
  }
}

@media only screen and (max-width: 991px) {
  .main-background {
    height: 200px;
    margin-top: 82px;
  }
}

@media only screen and (max-width: 500px) {
  .main-background {
    margin-top: 70px;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 350px;
}

@media only screen and (max-width: 1200px) {
  .contact {
    height: 250px;
  }
}

@media only screen and (max-width: 991px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact-left {
  width: 40%;
  background-color: #fff;
  padding-bottom: 40px;
}

@media only screen and (max-width: 991px) {
  .contact-left {
    width: 100%;
  }
}

.contact-left__text {
  color: #706b6b;
  font-size: 35px;
}

@media only screen and (max-width: 991px) {
  .contact-left__text {
    font-size: 28px;
  }
}

@media only screen and (max-width: 500px) {
  .contact-left__text {
    font-size: 20px;
  }
}

.contact-right {
  width: 60%;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #706b6b;
  border-radius: 10px;
}

@media only screen and (max-width: 991px) {
  .contact-right {
    width: 80%;
    margin-left: 20%;
    height: 250px;
  }
}

@media only screen and (max-width: 500px) {
  .contact-right {
    width: 90%;
    margin-left: 10%;
  }
}

.contact-right__adress {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-top: 20px;
  font-size: 20px;
}

@media only screen and (max-width: 991px) {
  .contact-right__adress {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.contact-right__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-right__tel, .contact-right__mail {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 50px;
  padding-bottom: 20px;
  letter-spacing: 1px;
}

.contact-right__tel:hover, .contact-right__mail:hover {
  -webkit-text-decoration: underline 4px #480;
          text-decoration: underline 4px #480;
}

@media only screen and (max-width: 1200px) {
  .contact-right__tel, .contact-right__mail {
    font-size: 40px;
    padding-bottom: 10px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 991px) {
  .contact-right__tel, .contact-right__mail {
    font-size: 30px;
    padding-bottom: 0;
  }
}

/**************** Services *****************/
.VojtaMethod {
  color: #480;
  text-decoration: none;
}

.VojtaMethod:hover {
  color: #000;
  text-decoration: underline;
}

/**************** US *****************/
.us {
  margin: 50px 0;
  background-color: #706b6b4d;
}

.mail {
  text-decoration: none;
  color: #000;
}

.mail:hover {
  text-decoration: underline;
  color: #000;
}

.photos {
  margin-bottom: 50px;
}

@media only screen and (max-width: 610px) {
  .photos {
    margin-bottom: -10px;
  }
}

@media only screen and (max-width: 550px) {
  .photos {
    margin-bottom: -50px;
  }
}

@media only screen and (max-width: 450px) {
  .photos {
    margin-bottom: -100px;
  }
}

@media only screen and (max-width: 400px) {
  .photos {
    margin-bottom: -150px;
  }
}

@media only screen and (max-width: 350px) {
  .photos {
    margin-bottom: -170px;
  }
}

footer {
  background-color: #9d9393cc;
}

.table-opening {
  max-width: 600px;
  margin: auto;
}

.socials a {
  color: #000;
}
/*# sourceMappingURL=style.css.map */