* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/**************** Reusable *****************/
.container {
  max-width: 1170px;
  width: 96%;
  margin: 0 auto;
}

.emptySpace {
  height: 50px;
}

/**************** Header *****************/
.header {
  background-color: #480;
  height: 200px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
  padding-top: 10px;
}

.header-nav__item {
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
}

.header-nav__item:hover {
  border-bottom: 2px solid #fff;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-block__image {
  width: 500px;
}

.header-block__right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-block__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-block__img {
  width: 40px;
}

.header-block__navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

.header-block__nul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 155px;
}

.header-block__nul a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  text-shadow: 1px 1px #706b6b;
}

.header-block__nul a:hover {
  border-bottom: 2px solid #fff;
}

/**************** adress *****************/
.main {
  background: url("../images/main-bcg2.jpg") no-repeat;
  background-position: 130% 0%;
}

.adress {
  position: relative;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adress-left {
  height: 350px;
  width: 40%;
  background-color: #fff;
}

.adress-left__text {
  color: #706b6b;
  font-size: 30px;
}

.adress-right {
  height: 350px;
  width: 60%;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #706b6b;
  border-radius: 10px;
}

.adress-right__adress {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-top: 20px;
  font-size: 20px;
}

.adress-right__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.adress-right__tel {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 50px;
  padding-bottom: 20px;
  letter-spacing: 1px;
}

/**************** offer *****************/
.offer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.7))), url(../images/cekarna.png) no-repeat;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.7)), url(../images/cekarna.png) no-repeat;
  margin: 50px 0;
  height: 500px;
}

.offer-block {
  margin-left: 58%;
}

.offer-block__text {
  list-style-type: none;
  color: #706b6b;
}

.offer-block__text p {
  font-size: 23px;
  padding-top: 25px;
}

.us {
  margin: 50px 0;
}

.us-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.us-block__terap {
  width: 227px;
  border: 2px solid #706b6b;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.us-block__terap h3 {
  text-align: center;
  padding: 10px;
}

.us-block__img {
  height: 300px;
}
/*# sourceMappingURL=style.css.map */